@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Varela;
  src: url('../fonts/VarelaRound-Regular.ttf') format('truetype'); 
}  


@layer base {
  html {
    font-family: Varela, system-ui, sans-serif;
  }
}

@layer components {
  .bg-primary {
    @apply bg-[#1e2938];
  }

  .bg-secondary {
    @apply bg-[#43e8c4];
  }

  .random-question-button {
    @apply bg-[#09C7BD] hover:bg-[#00A6AE] text-gray-100 font-bold rounded mx-auto mt-48 text-9xl py-10 px-48
  }
}
